<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400" />
    <!-- CSS only -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./styles/custom.css" />
    <link rel="shortcut icon" href="./logo.ico" type="image/x-icon" />
    <title>Work Tool</title>
  </head>

  <body>
    <div id="app">
      <div class="button-create">
        <div id="create">
          <button @click="crearMensaje()">
            <span>CREATE MESSAGE</span>
          </button>
        </div>
      </div>
      <div></div>
      <section>
        <div class="button mensaje" v-for="mensaje in mensajesGuardados">
          <div @click="copiarMensaje(mensaje)" class="msg">
            <strong>{{mensaje.titulo}}</strong>
          </div>
          <div class="cont-icon">
            <i
            @click="eliminarMensaje(mensaje)"
            class="bi bi-trash3 delete-icon"
          ></i>
          <i 
            @click="editarMensaje(mensaje)"
            class="bi bi-pencil"
          ></i>
          </div>
        </div>
      </section>
      <div class="background-selector">
        <select class="selector" v-model="selectedBackground">
          <option value="default">Billie</option>
          <option value="background1">Negro</option>
        </select>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/sweetalert2@11"></script>
    <script src="./scripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    
  </body>
</html>
